.title {
    font-size: 64px;
    font-weight: 300;
    color: #BDBDBD;
    margin-bottom: 20px;

    &--tasks {
        margin-bottom: 60px;
    }

    &--connection {
        margin-bottom: 22px;
    }
}